html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 7px;
}

.test {
    color: white;
}

.test > .inner {
    color: blue;
}

.non-existing {
    color: red;
}

